/*********************************
/*  Button Start
*********************************/

.btn {
	font-family: $inter;
	font-size: 16px;
	line-height: 19px;
	font-weight: $regular;
	padding: 16px 25px;
	border-radius: $radius;
	border: 1px solid transparent;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-transform: capitalize;
	transition: $transition;

	i {
		font-size: 17px;
	}

	img {
		width: auto;
		height: auto;
	}

	&:focus {
		box-shadow: none;
		outline: none;
	}

	&-primary {
		background-color: $primary;
		color: $white;
		border-color: $primary;

		&:focus,
		&:hover {
			background: transparent;
			color: $primary;
			border-color: $primary;
		}
	}
	&-secondary {
		background-color: $heading;
		color: $white;
		border-color: $heading;

		&:focus,
		&:hover {
			background: $primary;
			color: $white;
			border-color: $primary;
		}
	}
	&-outline {
		background: transparent;
		border: 1px solid $border;
		color: $primary;

		&:focus,
		&:hover {
			background: $primary;
			color: $white;
			border-color: $primary;
		}
	}
	&-white {
		background: $white;
		color: $heading;
		border: 1px solid $white;

		&:focus,
		&:hover {
			background-color: $primary;
			color: $white;
			border-color: $primary;
		}
	}
	&-gray {
		background: #00224d0a;
		border: 1px solid rgba($heading, 0.06);
		color: $heading;
		font-weight: $medium;

		&:focus,
		&:hover {
			background: $primary;
			color: $white;
			border-color: $primary;
		}
	}
	&-primary:disabled,
	&-primary.disabled {
		background-color: $primary;
		color: $white;
		border-color: $primary;
	}
	&-sm {
		font-size: 14px;
		line-height: 14px;
		font-weight: $semibold;
		padding: 12px 40px;
		border-radius: 8px;
	}
}

.solid__btn {
	font-family: $inter;
	font-size: 14px;
	line-height: 23px;
	font-weight: $regular;
	color: $heading;
	transition: $transition;

	&:hover {
		color: $primary;
	}
}

.disable {
	pointer-events: none;
	opacity: 0.6; 
	cursor: not-allowed;
  }
